h1,
a,
p {
    font-family: Karla;
}

a {
    color: black;
    text-decoration: none;
}

p:hover {
    color: blue;
}

/* links */
a:active {
    color: black;
}
a:hover {
    color: orange;
}
a:focus {
    color: green
}

ol {
    list-style: none;
}